<div class="main-flow">
  <h1>Welcome to my portfolio.</h1>
  <div class="links">
    <button class="main-link">WEB DEV</button>
    <button class="main-link">UX/UI</button>
    <button class="main-link">ABOUT ME</button>
  </div>
  <div class="sub-flow">
    <div class="card">
      <img src="" alt="">
      <div class="sub-card"></div>
    </div>
    <div class="card">
      <img src="" alt="">
      <div class="sub-card"></div>
    </div>
    <div class="card">
      <img src="" alt="">
      <div class="sub-card"></div>
    </div>
  </div>
</div>