<div class="main-flow">
  <h1>Welcome to my portfolio.</h1>
  <div class="links">
    <button id="web-btn" class="main-link">WEB DEV</button>
    <button id="ux-btn" class="main-link">UX/UI</button>
    <button id="me-btn" class="main-link">ABOUT ME</button>
  </div>
  <div id="sub-flow" class="sub-flow">
    <a href="https://yagovv.github.io/Ironhackers-of-the-Caribbean/">
      <div class="card">
        <img src="images/ironhackers.png" alt="image">
        <div class="sub-card">Ironhackers of the Caribbean</div>
      </div>
    </a>
    <a href="https://planit-ironhack.herokuapp.com/">
      <div class="card">
        <img src="images/planit.png" alt="image">
        <div class="sub-card">PLANiT</div>
      </div>
    </a>
    <a href="https://zombye.herokuapp.com/">
      <div class="card">
        <img src="images/zombye.png" alt="image">
        <div class="sub-card">Zombye</div>
      </div>
    </a>
  </div>
</div>