<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{{body}}}
  <script src="https://cdn.jsdelivr.net/npm/typeit@5.10.1/dist/typeit.min.js"></script>
  <script type="module" src='/javascripts/YvMainComponent.js'></script>
  <script type="module" src='/javascripts/YvProjectsComponent.js'></script>
  <script type="module" src='/javascripts/YvAboutComponent.js'></script>
  <script type="module" src='/javascripts/script.js'></script>

</body>

</html>